<!--Title:Files:30-->
<!--ViewModel:FoldersFilesVm-->
<div class="content">

    <h1>Folder Dialog</h1>

    <table>

        <tr>
            <td>
                <b>Parameters</b>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Message
            </td>
            <td>
                <input v-model="MessageText">
            </td>
        </tr>
        <tr>
            <td>
                FileName
            </td>
            <td>
                <input v-model="FileName">
            </td>
        </tr>

        <tr>
            <td>
                <b>Options</b>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Title
            </td>
            <td>
                <input v-model="Options.Title">
            </td>
        </tr>
        <tr>
            <td>
                Folder
            </td>
            <td>
                <input v-model="Options.Directory" style="width: 800px;">
            </td>
        </tr>
        
        <tr>
            <td>
                <b>Test</b>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button @click="TestFileOpen()">FileOpen</button>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button @click="TestFileSave()">FileSave</button>
            </td>
        </tr>

        <tr>
            <td>
                <b>Response</b>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                Canceled
            </td>
            <td>
                {{Response.IsCanceled}}
            </td>
        </tr>
        <tr>
            <td>
                Value
            </td>
            <td>
                {{Response.Value}}
            </td>
        </tr>

    </table>

</div>
