@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div class="text-center mt-5">
        <h1 class="display-3">Chromely</h1>
        <p class="lead text-muted">Build HTML Desktop Apps on .NET 6 using native GUI, HTML5, JavaScript, CSS</p>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td><b>Chromely Main Objective</b><br/> <small class="text-muted">@Model?.Objective</small></td>
                        </tr>
                        <tr>
                            <td><b>Platforms</b><br/><small class="text-muted">@Model?.Platform</small></td>
                        </tr>
                        <tr>
                            <td><b>Chromium - CefGlue Version</b><br/><small class="text-muted">@Model?.Version</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="text-center">
            <a href="https://github.com/chromelyapps/Chromely" class="btn btn-primary btn-sm" role="button" style='margin: 5px;'>more info</a>
        </div>
    </div>
</div>