<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net451" />
  <package id="NetCoreEx.BinaryExtensions" version="3.0.0" targetFramework="net461" />
  <package id="NetCoreEx.Geometry" version="3.0.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net451" requireReinstallation="true" />
  <package id="Serilog" version="2.5.1-dev-00873" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.0.2-dev-00753" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net461" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.1-dev-00771" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
  <package id="WinApi" version="4.0.0" targetFramework="net461" />
</packages>