body, html {
    height: 100%;
    display: grid;
}

.centerBlock {
    display: table;
    margin: auto;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.invisible {
    visibility: hidden;
}

.modal-dialog {
    width: 80%;
}


.react-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }